/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #1c1c1c; /* Replace with your site's main background color */
  overflow-x: hidden;
  overscroll-behavior: none; /* Prevents bounce/overscroll */
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Button Styles */
@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-accent text-white font-bold py-2 px-4 rounded;
  }

  .btn-secondary {
    @apply bg-secondary hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded;
  }
}
