/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4d7c0f; /* Dark Green */
  --secondary: #d3dedc; /* Light Gray */
  --accent: #468b97; /* Teal */
}

body {
  font-family: "Roboto", sans-serif;
}

/* Button Styles */
@layer components {
  .btn-primary {
    @apply bg-[var(--primary)] hover:bg-orange-600 text-white font-bold py-2 px-4 rounded; /* Use bg-[var(--primary)] */
  }

  .btn-secondary {
    @apply bg-[var(--secondary)] hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded;
  }
}
